@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  font-family: "lato", sans-serif;
}

.bar {
  display: block;
  width: 20px;
  height: 4px;
  margin: 5px auto;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.style-me {
  width: 50px;
  margin-left: 20px;
}

.flez {
  display: flex;
}

.headings {
  background-image: url("images/Headimg.jpg");
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Lato", sans-serif;
}

.small {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Lato", sans-serif;
  font-size: 35px;
}

.main {
  background-image: url("images/Headbkg.jpg");
  background-repeat: none;
  background-size: cover;
}

.big {
  color: rgb(238, 66, 14);
  font-size: 50px;
}

.main-paragraph {
  width: 500px;
}

.p1 {
  width: 100%;
  font-weight: 900;
  font-size: 15px;
  color: lightsteelblue;
}

.timing {
  font-size: 30px;
  font-weight: 900;
  color: gray;
}

/* Cards */

.card-head {
  text-align: center;
  color: #fff;
}

.cards hr {
  width: 41px;
  text-align: center;
  margin-left: 191px;
  color: orangered;
}

.cards-section {
  background-image: url("images/abstractbg.svg");
  background-repeat: none;
  background-color: black;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

.workcard {
  display: flex;
  gap: 50px;
  text-align: center;
}

.workcard p {
  width: 100%;
  text-align: left;
}

.workcard h2 {
  color: #ec5242;
  text-align: left;
}

.p3 {
  margin-left: -25px;
}

.p4 {
  margin-left: 10px;
}

.p5 {
  margin-left: -32px;
}

.p6 {
  margin-left: 20px;
}

.join {
  width: 70%;
  justify-content: center;
  height: 80px;
  color: #fff;
  background: #ec5242;
  text-align: center;
  margin: 40px 70px;
  padding: 20px 10px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.main-img {
  width: 70px;
  height: 15%;
}

/* SPEAKERS */

.speak-head {
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 20px 0;
  padding: 10px 0;
}

.speaker {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  padding: 10px 10px;
}

.speaker img {
  width: 150px;
  height: 150px;
  padding: 0 0;
}

em {
  color: #ec5242;
}

.speak {
  margin-left: 5%;
  margin-right: -10px;
  padding: -30px 12px;
  width: 100%;
}

.speak h2 {
  margin-bottom: 7px;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.speak p {
  width: 100%;
  opacity: 1;
}

.btn {
  width: 90%;
  justify-content: center;
  height: 50px;
  color: #000;
  background: #fff;
  text-align: center;
  margin: 40px 25px;
  padding: 10px 10px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #d3d3d3;
}

.btn:hover {
  background-color: #63666d;
  color: #fff;
  border-radius: 0;
}
